 # Cardiovascular Disease Predictions

In [5]:
# Import dependencies
from path import Path
import pandas as pd

In [6]:
#Import dataset
data = Path('https://raw.githubusercontent.com/LingZ1993/blended_project_1/Nick/cardio_complete.csv')
df = pd.read_csv(data)
df.head()

,Unnamed: 0,id,age,gender,height,weight,systolic_bp,diastolic_bp,cholesterol,gluc,smoke,alco,active,cardio,BMI
0,0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,21.97
1,1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,34.93
2,2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,23.51
3,3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,28.71
4,4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,23.01

In [7]:
# Remove outcome target from features data
y = df["cardio"]
X = df.drop(columns="cardio")

In [8]:
from sklearn.model_selection import train_test_split

# Split training/testing datasets
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(52500, 14)

In [9]:
#Import dependency
from sklearn.linear_model import LogisticRegression

#Define the logistic regression model
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200,
                                random_state=1)

In [10]:
#Train the model
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200, random_state=1)

In [11]:
#Evaluate the model
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            1       0
1            1       1
2            1       0
3            1       1
4            1       1
5            1       1
6            0       0
7            0       1
8            1       1
9            0       0
10           1       0
11           0       0
12           0       0
13           1       1
14           1       1
15           0       0
16           1       0
17           0       1
18           1       0
19           1       1

In [12]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.6913714285714285